<div class="form-group">
    <label for="formGroupExampleInput2">Birthdate</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="YYYY-MM-DD" name="birthdate" value= <%= birth_date %> >
</div>
<button type="submit" class="btn btn-primary btn-lg"><%= submit %></button>
</form>
</body>

</html>