<%- include('./partials/header', {title: "Add Student"}); %>

    <div class="container text-center">
        <% if (msg) { %>
            <p> <%= msg %> </p>
        <% } %>   
    
        <form action="" method="POST">
            <input type="text" name="first_name" placeholder="First name" autofocus><br><br>
            <input type="text" name="last_name" placeholder="Last name"><br><br>
            <input type="email" id="email" name="email" placeholder="Email address"><br><br>
            <p>Select your gender:</p>
            <input type="radio" id="male" name="gender" value = "male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value = "female">
            <label for="female">Female</label><br><br>
            <label for="birth_date">Birth date</label><br>
            <!-- <input type="text" name="birth_date" placeholder="Hari Bulan Tahun"><br><br><br> -->
            <input type="date" id="birth_date" name="birth_date"><br><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>

<%- include('./partials/footer'); %>