<%- include('partial/header') %>

<% if(error) {%>
  <p style="color: red;"><%= error%></p>
 <%}%>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="jumbtron">
                    <h1>Add New Students Data</h1>
                    <form action="students/add" method="POST">
                        <div class="form-group">
                            <label for="firs_name">First Name</label>
                            <input type="text" class="form-control" id="firs_name">
                          </div>
                          <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="form-group">
                            <label for="gender">Gender</label>
                            <input type="text" class="form-control" id="gender">
                          </div>
                        <div class="form-group">
                          <label for="firs_name">Birth Date</label>
                          <input type="password" class="form-control" id="firs_name">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
           
        </div>
    </div>
    
    
</body>
</html>