<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>School App</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SchoolApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/students">Student List</a>
        </li>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <a href="/students/add" class="btn btn-outline-success my-2 my-sm-0" type="submit">Add New Student</a>
    </form>
    
  </nav>
  
  <div class="jumbotron">
    <% if (error) {%>
      <p style="color:red"><%= error %></p>
      <% } %>
    <form action="/students/add" method="POST">
      <div class="form-group">
        <label for="exampleFormControlInput1">First Name</label>
        <input name="first_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your First Name">
        <label for="exampleFormControlInput1">Last Name</label>
        <input name="last_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Last Name">
        <label for="exampleFormControlInput1">Email address</label>
        <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@sekolah.id">
        <label for="exampleFormControlInput1">Gender</label>
        <input name="gender" type="text" class="form-control" id="exampleFormControlInput1" placeholder="male / female">
        <label for="exampleFormControlInput1">Birthdate</label>
        <input name="birth_date" type="text" class="form-control" id="exampleFormControlInput1" placeholder="20 Januari 2020">
      </div>
      <button type="submit" class="btn btn-primary">Add Student</button>
    </form>
  </div>
</body>
</html>