<%- include(`../partials/header`,{link : 'students', judul: 'Students'}) %>
            <a href="/students/add" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add New Students</a>
        </div>
      </nav>

    <div class="jumbotron">
      <% if(error){ %>
        <p style="color: red;"> <%= error %> </p>
        <% } %>
        <form action="/students/add" method="POST">
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationDefault01">First name</label>
                <input name="first_name" type="text" class="form-control" id="validationDefault01" placeholder="First Name"  required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault02">Last name</label>
                <input name="last_name" type="text" class="form-control" id="validationDefault02" placeholder="Last Name" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                  </div>
                  <input name= "email" type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label for="validationDefault04">Gender</label>
                <select name="gender" class="custom-select" id="validationDefault04" required>
                  <option selected disabled value="">Choose...</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationDefault05">Birth date</label>
                <input name="birt_date" type="text" class="form-control" id="validationDefault05" placeholder="ex: 25 Maret 2001"  required>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
          <%- include(`../partials/footer`) %>