<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit teacher</title>
</head>
<body>
    <h1>Edit Teacher</h1>
    
    <br>
    <button><a href="/teachers">Back to Data Teachers</a></button><br><br>
    
    
    <form action="/teachers/<%=id%>/edit" method="post">
        <label>First Name:</label><br> 
        <input type="text" name="first_name" value="<%=data.first_name%>"><br><br> 
        
        <label>Last Name:</label><br> 
        <input type="text" name="last_name" value="<%=data.last_name%>"><br><br> 
        
        <label>Email:</label><br> 
        <input type="text" name="email" value="<%=data.email%>"><br><br>

        <label>Gender:</label><br> 
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <br><br>
        
        <button type="submit">Edit</button>
    </form>
</body>
</html>