<html>
    <head>
        <%- include('partials/bootstrap') %>
    </head>
    <body>
        <%- include('partials/navbar') %> 
        <h1><%= eror %></h1>
        <h1>eror page</h1>
    </body>
</html>