<%- include('partials/header', {title: 'Error Page'}) %>

  <div class="container">
    <h1>Ada error</h1>
    <a href="/" type="button" class="btn btn-secondary">Back to home</a>
  </div>

<%- include('partials/footer') %>