      <body style="background-color: black;">
      <%- include('partials/navbar', { title : 'School App',background: "bg-primary", hrefNav1 : 'teachers', nav1 : "Teachers", hrefNav2 : 'students', nav2 : "Students", hrefNav3 : "subjects", nav3 : "Subjects"}) %>
      <h1 style="text-align:center; font-size:500%; color: red;">404</h1>
      <h3 style="text-align:center; font-size:500%; color: red;">Page Not Found</h3>
</body>

</html>