<%- include('partials/header', {title: 'Error Page'}) %>

  <div class="container">
    <h1>Error</h1>
    <div class="alert alert-danger" role="alert">
      Error Message:<br>
      <%= error %>
    </div>
    <a href="/" type="button" class="btn btn-secondary">Back to home</a>
  </div>

<%- include('partials/footer') %>