 <%- include('partial/header') %>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Our School Website</h1>
        <p class="lead"><q>“The most important day of a person’s education is the first day of school, not Graduation Day.” – Harry Wong</q></p>
        <hr class="my-4">
        <p><q>“I’ve always loved the first day of school better than the last day of school. Firsts are best because they are beginnings.” – Jenny Han</q></p>
        <a class="btn btn-primary btn-lg" href="/students" role="button">Students Data</a>
        <a class="btn btn-primary btn-lg" href="/students/add" role="button">Add Students Data</a>
      </div>
</body>
</html>