<%- include('partials/header', {title: 'Welcome to SchoolApp'}) %>  
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to SchoolApp</h1>
      <p class="lead">Landing page text, example text for landing page. SchoolApp</p>
    </div>
  </div>
<%- include('partials/footer') %>