<%- include('partials/home-header')%>
    <h1 class="display-4">School Application</h1>
        <p class="lead">Challenge week 3 school application with MVC concept</p>
        <hr class="my-4">
        <p>Click here to see data in this school application.</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="/teachers">See Teachers Data</a></li>
            <li class="list-group-item"><a href="/students">See Students Data</a></li>
            <li class="list-group-item"><a href="/subjects">See Subjects Data</a></li>
        </ul>
        
      </div>
</body>
</html>