<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>School App</title>
</head>
<body>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to School App</h1>
    <form action="/" method="GET">
      <table>
        <tr>
          <td>
      <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search Students Email" aria-label="Search"></td>
      <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </td>
    </tr>
    </table>
    </form>
    <p class="lead">This is a simple School APP</p>
    <hr class="my-4">
    <p>What do you want to see?
    </p>
    <a class="btn btn-primary btn-lg" href="/students" role="button">Go to Student list</a>
    <a class="btn btn-primary btn-lg" href="/subjects" role="button">Go to Subject list</a>
    <a class="btn btn-primary btn-lg" href="/teachers" role="button">Go to Teachers list</a>
  </div>
</body>
</html>