<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home school app</title>
</head>
<body>
    <h1>SCHOOL APP HOME</h1>
    <ul>
        <li><a href="/students">Data Students</a></li>
        <li><a href="/teachers">Data Teachers</a></li>
        <li><a href="/subjects">Data Subjects (beum ada)</a></li>
    </ul>

    
</body>
</html>