<body style="background-color: darkslateblue;">
      <%- include('partials/navbar', { title : 'School App', background: "bg-primary", hrefNav1 : 'teachers', nav1 : "Teachers", hrefNav2 : 'students', nav2 : "Students", hrefNav3 : "subjects", nav3 : "Subjects"}) %>
      <h1 style="text-align:center; font-size:500%; color: aqua;">WELCOME TO SCHOOL APP</h1>
</body>

</html>