<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>School App</title>
  </head>

  <body>
    
    <h1>School App Homepage</h1>

    <h3>View Data:</h3>
    <a href="/students">Students</a><br>
    <a href="/teachers">Teachers</a><br>
    <a href="/subjects">Subjects</a>

  </body>

</html>