<!doctype html>
<html>
<head>
<title>I am Orion Fox!</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<link rel="icon" href="assets/images/faveicon.ico" type="image/x-icon" />
<style>
body { text-align: center; padding: 150px; }
h1 { font-size: 50px; }
body { font: 20px Helvetica, sans-serif; color: #333; }
article { display: block; text-align: left; width: 650px; margin: 0 auto; }
a { color: #dc8100; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
</style>
</head>
<body>
<article>
    <h1>{ Sugeng Enjing }</h1>
    <div>
        <p>Select page you want to view [<a href="/teachers">Teachers</a> - <a href="/students">Students</a> - <a href="/subjects">Subjects</a>]</p>
        <p>&mdash; The Proud Orion Fox!</p>
    </div>
</article>
</body>
</html>