<%- include('./partials/top')%>
  </nav>
  <div class="jumbotron">
    <% if (data.length) { %>
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Subject Name</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(el => { %>
        <tr>
          <th scope="row"><%= el.id %></th>
          <td><%= el.subject_name %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>
  </div>
</body>
</html>