<%- include('../partials/header') %>
<div class="container">
  <h3>Add New Student Data</h3>
  <div class="row">
    <form class="col s12" action="/students/add" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="first_name" name="first_name" type="text" class="validate" autofocus required>
          <label for="first_name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="last_name" name="last_name" type="text" class="validate" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <p style="color: #9e9e9e;">Gender</p>
      <p>
        <label>
          <input name="gender" value="male" type="radio" class="with-gap" checked required />
          <span>Male</span>
        </label>
      </p>
      <p>
        <label>
          <input name="gender" value="female" type="radio" class="with-gap" />
          <span>Female</span>
        </label>
      </p>
      <p>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="email" type="email" class="validate" required>
            <label for="email">Email</label>
          </div>
        </div>
        <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Add
          Student</button>
        <a href="/students" class="waves-effect waves-light btn right">Show All Students</a>
    </form>
  </div>
</div>
<%- include('../partials/footer') %>